$color-light-green:#28a745;
$color-orange:#fe7e17;
$color-dark-blue:#004085;
$color-turkish:#25A18E;
$color-dark-green:#307951;
$color-light-blue:#00A5CF;
$color-blue:#669cab;
$color-red:rgba(198, 48, 62, 0.84);
$color-yellow: rgba(210, 191, 0, 0.84);
$color-grey: rgba(212, 215, 216, 0.84);

$text-color:#EEEEEE;
$text-color-hover: #d4d7d8;

$box_shadow: 0 0 0px 4px rgba(237, 237, 237, 0.35);